.movies__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  min-height: 250px;
  margin: auto;
  padding: 0;
  background-color: rgba(32, 32, 32, 1);
}

.movies__cards {
  width: 100%;
  max-width: 1140px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fit, 360px);
  grid-auto-rows: auto;
  gap: 32px 28px;
  justify-content: center;
  padding: 0 0 10px 0;
  margin: 70px auto 0;
}


.movies__more-button {
  display: none;
  width: 320px;
  height: 36px;
  background-color: rgba(32, 32, 32, 1);
  color:  rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  text-align: center;
  align-self: center;
  border: 1px solid rgba(66, 66, 66, 1);
  border-radius: 6px;
  margin: 50px 0 80px 0;
  padding: 0;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}


.movies__more-button_type_enabled {
  display: block;
}

.movies__more-button_type_disabled {
  display: none;
}

.movies__more-button:hover {
  opacity: 80%;
}

.movies__error-message {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(244, 111, 111);
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .movies__cards {
    grid-template-columns: repeat(auto-fit, 342px);
    gap: 35px 24px;
    padding: 0 0 30px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies__cards {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 16px 24px;
    padding: 0 0 30px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies__more-button {
    width: 240px;
    height: 36px;
  }
}

